<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= album.name %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/foros.css">
    <link rel="stylesheet" href="/assets/css/album.css">
    <link rel="shortcut icon" href="./../../../../assets/img/1.gif">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/assets/img/logomovible.gif" heights="100px"
                        width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/views/index/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/views/foros/foros.html">Foros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/views/artistas/artistas.html">Artistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/generos/generos.html">Géneros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/suscribete/suscribete.html">¡Suscríbete!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/contacto/contactanos.html">Contáctanos</a>
                        </li>
                    </ul>
                    <div class="btn-group dropstart" style="margin-right: 20px;">
                        <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> Mi
                            Perfil</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="../../../../views/logins/login.html">Log In</a></li>
                            <li><a class="dropdown-item" href="../../../../views/registro/registro.html">¡Registrate!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <button onclick="back()" class="btn btn-primary" id="back"><i class="fas fa-arrow-left"></i></button>
    
    <div class="container my-5" id="alb">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card 2" id="bg">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/uploads/<%= album.albumPhoto %>" alt="Album Cover" class="img-fluid custom-card-img" id="move" style="width: 850px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body" id="move">
                                <h1 class="card-title"><%= album.name %></h1>
                                <p class="card-text id" id="<%= artist._id %>">by <%= artist.name %></p>
                                <p class="card-text" style="color: #ccc;">Released: <%= album.release %></p>
                                <p class="card-text">Type: <%= album.type %></p>
                                <p class="card-text"><%= album.description %></p>
                                <p class="card-text">Genre: <%= album.genre %></p>
                                
                                <button onclick="like('<%= album._id %>')" class="btn btn-success voto">+ <i class="fas fa-fire"></i> <span id="likes-count-<%= album._id %>"><%= album.likes %></span></button>
                                <button onclick="dislike('<%= album._id %>')" class="btn btn-danger voto">- <i class="fas fa-fire"></i> <span id="dislikes-count-<%= album._id %>" ><%= album.dislikes %></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card card-comments">
                    <div class="background-image" style="background-image: url('/uploads/<%= album.albumPhoto %>'); background-size: cover; background-position: center;"></div>
                    <div class="card-body" id="cardbody">
                        <h1 class="text-center mt-5">  <%= album.name %>  <i class="fas fa-check-circle" style="color: rgb(46, 111, 252);"></i></h1>
                        <p class="text-center">Reviews del álbum</p>
                        <h5 class="card-title" id="realizapublicacion" style="font-weight: lighter;"><img src="<%= artist.pfp %>" alt="foto de perfil" id="fotoperfil"> Añadir una publicación</h5>
            
                        <form id="postForm">
                            <div class="form-group" id="input">
                                <textarea class="form-control" rows="3" placeholder="¿Qué estás opinando?..." id="publicar"></textarea>
                                <div class="upload-wrapper">
                                    <input class="input-group" type="file" id="image-upload" accept="image/*" />
                                    <label for="image-upload" class="upload-label">Seleccionar imagen</label>
                                    <div class="preview">
                                        <img id="image-preview" src="#" alt="Vista previa de la imagen" style="display: none;">
                                    </div>
                                </div>
                            </div>
                            <hr style="animation: none !important;">
                            <div class="d-flex justify-content-end">
                                <button id="botonPublicar" type="submit" class="btn btn-custom" style="width: 80px; height: 34px; padding: 5px 10px; font-size: 16px;">Publicar</button>
                            </div>
                        </form>
                    </div>
                </div>
            
            <div class="card card-comments">
                <div class="card-body" id="cardbody"></div>
                        <!-- Sección de comentarios -->
                        <div class="comments-section mt-4">
                            <h3><i class="fas fa-comments" style="color: #f78036; margin-left: 40%; margin-bottom: 3%;"></i> Comentarios</h3>
                            <ul class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="/assets/js/album_page.js"></script>
</html>
